.model-selector-wrap {
  margin: 30px; }
  .model-selector-wrap .vehicle-tile {
    border: 1px solid #f0f0f0;
    background: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 250px;
    margin: 2px;
    text-align: center;
    cursor: pointer; }
    .model-selector-wrap .vehicle-tile:hover {
      border: 1px solid #c7d2d8;
      -webkit-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.14); }
    .model-selector-wrap .vehicle-tile .modal-text {
      font-size: 14px;
      margin: 10px; }
    .model-selector-wrap .vehicle-tile .vehicle {
      margin: 10px; }
      .model-selector-wrap .vehicle-tile .vehicle img {
        max-width: 177px; }
  .model-selector-wrap .panel-heading {
    color: #999;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media only screen and (max-width: 719px) {
  body {
    border: 1px solid #000; }
  .sm-flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
